<!DOCTYPE html>
<html lang="fr">
  <!-- // head partial -->
  <%- include('./partials/head.ejs') %>
  <body>
    <h1><%= message %></h1>
    <!-- // nav partial -->
    <%- include('./partials/nav.ejs') %>
    <p><%= message %></p>
    <!-- // footer partial -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
