<!DOCTYPE html>
<html lang="fr">
  <!-- // head partial -->
  <%- include('./partials/head.ejs') %>
  <body>
    <h1><%= message %></h1>
    <!-- // nav partial -->
    <%- include('./partials/nav.ejs') %>
    <p><%= message %></p>
    <form action="/blogs" method="post">
      <div>
        <label for="title">Blog title</label>
        <input type="text" id="title" name="title" placeholder="Title" />
      </div>
      <div>
        <label for="snippet">Blog snippet</label>
        <input type="text" id="snippet" name="snippet" placeholder="Snippet" />
      </div>
      <div>
        <label for="body">Blog body</label>
        <textarea name="body" id="body"></textarea>
      </div>
      <button type="submit">Save</button>
    </form>
    <!-- // footer partial -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
