<!DOCTYPE html>
<html lang="fr">
  <!-- // head partial -->
  <%- include('./partials/head.ejs') %>
  <body>
    <h1><%= message %></h1>
    <!-- // nav partial -->
    <%- include('./partials/nav.ejs') %>
    <p><%= message %></p>
    <div>
      <h2>All Blogs</h2>
      <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <div
        style="
          border-top: 3px solid black;
          padding: 10px;
          background-color: #ccc;
          margin-bottom: 10px;
        "
      >
        <h3><%= blog.title %></h3>
        <p><%= blog.snippet %></p>
        <p><%= blog.body %></p>
      </div>
      <% });} else { %>
      <p>No blogs to display ...</p>
      <% } %>
    </div>
    <!-- // footer partial -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
